<p style="color: green"><%= notice %></p>

<%= render @cart %>

<div>
  <%= link_to "Edit this cart", edit_cart_path(@cart) %> |
  <%= link_to "Back to carts", carts_path %>

  <%= button_to "Destroy this cart", @cart, method: :delete %>
</div>

<% @cart.join_table_cart_items.sort.each do |cart_item| %>
  <%= render cart_item.item %>
  <%= button_to "Supprimer du panier", join_table_cart_item_path(cart_item.id), :method => "delete" %>
  <%= link_to "Show this item", cart_item %>
<% end %>