<div id="<%= dom_id item %>">
 <div>

    <strong>Title:</strong>
    <%= item.title %>
    <strong>Description:</strong>
    <%= item.description %>
    <strong>Price:</strong>
    <%= item.price %>
    <strong>Image url:</strong>
    <%= item.image_url %>
  </div>

</div>
